/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

/*=============== ABOUT ===============*/

/*=============== STEPS ===============*/

/*=============== PRODUCTS ===============*/

/*=============== QUESTIONS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }

  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }
}

@media screen and (min-width: 1200px) {
}
